body {
    margin: 0;
    border: 0;
    padding: 0;
}
button {
    background-color: rgb(175, 74, 34);
    color: black;
    width: 7rem;
    height: 85%;      
}
.layout-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.header-footer {
    background-color: rgb(91, 197, 230);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 7.5%;
    align-items: center;
}
.mid-section {
    display: flex;
    flex-direction: row;
    flex-basis: 85%;
}
.content {
    background-color: rgb(219, 174, 217);
    flex-basis: 93%;
    display: flex;
    flex-direction: column;
}
.side-panel {
    background-color: rgb(219, 174, 217);
    flex-basis: 3.5%;
}
.containers {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
.content-box {
    background-color: darkorchid;
    width: 17rem;
    height: 28rem;
    box-shadow: 1.5rem 1.5rem 1.5rem darkcyan;
    border-radius: .5rem;
}
.left-photos {
    align-items: center;
    width: 63%;
    /* height: 50%; */
    margin-bottom: 3%;
}
.sk {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.aboutme {
    height: 100%;
    text-align: justify;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#hobbielist {
    padding: 0.25rem;
    list-style-type: none ;
}